.row.justify-content-md-center {
    background-color: #bee4fb;
}





.col-12.col-md-11.col-lg-8.col-xl-7.col-xxl-6 {
    background-color: #4835d4;
}

#InsideBox {
    background-color: #4835d4 !important;
}

body {
    color: white !important;
}

.link-secondary.text-decoration-none {
    color: white !important;
}

.form-check-label.text-secondary {
    color: white !important;
}

.ms-2.fs-6 {
    color: white !important;
}

.text {
    color: white !important;
}

.col-12.col-md-11.col-lg-8.col-xl-7.col-xxl-6 .form-text#passwordHelpBlock {
    color: white !important;
}